@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Frederico Ribeiro</p>

<address>
    <strong>Celular:</strong> 31 98878-6238<br />
    <strong>Gmail:</strong> <a href="mailto:fmrone@gmail.com">fmrone@gmail.com</a><br />
</address>
